.link {
	color: red;
	text-align: left;
	text-decoration: none;
}

.CocktailNameEng {
	display: inline-block;
}

.tableHeaderItem {
    font-size: 11px;
}

.tableHeaderItem,
.tableItem {
    padding: 5px;
    font-weight: 400;
}

.tableItem-name {
	text-align: left;
}

.tableItem-AD {
	background-color: DarkOrange;
}

.tableItem-PD {
	background-color: HotPink;
}

.tableItem-PC {
	background-color: Crimson;
}

.tableItem-LD {
	background-color: Turquoise;
}

.tableItem-SC {
	background-color: Chartreuse;
}

.tableItem-UN {
	background-color: RoyalBlue;
}

.tableItem-NE {
	background-color: LimeGreen;
}

.tableItem-CC {
	background-color: DarkOrchid;
}
