.table {
	border-spacing: 0 0;
	font-family: 'PT Sans Narrow', sans-serif;
}

.tableHeaderItem,
.tableItem {
	/*width: 1%;*/
    padding: 0;
    color: DimGrey;
    border-bottom: 1px dotted LightGrey;
    box-shadow: 1px 0 0 Gainsboro;
    font-weight: 400;
}

.tableHeaderItem div,
.tableItem div {
	min-width: 50px;
    padding: 6px 0;
}

.tableHeaderItem {
	padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tableHeaderItem:hover {
	background-color: Gainsboro;
	color: DarkBlue;
}

.tableItem {
    font-size: 16px;
    text-transform: uppercase;
}

.tableItem-name {
	text-align: left;
}

.tableItem-name-Eng,
.tableItem-name-Rus {
	padding: 0 10px;
}

.tableItem-name-Rus {
	
}

.tableItem-empty div {
	/*background-color: Gainsboro;*/
}

.tableItem-AD div {
	background-color: DarkOrange;
}

.tableItem-PD div {
	background-color: HotPink;
}

.tableItem-PC div {
	background-color: Crimson;
}

.tableItem-LD div {
	background-color: Turquoise;
}

.tableItem-SC div {
	background-color: Chartreuse;
}

.tableItem-UN div {
	background-color: RoyalBlue;
}

.tableItem-NE div {
	background-color: LimeGreen;
}

.tableItem-CC div {
	background-color: DarkOrchid;
}
