@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.App-header {
  background-color: #282c34;
  color: white;
}

.App-header h1 {
  margin: 0; 
  padding: 5px 10px;
  font-size: calc(10px + 3vmin);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}