.table {
	border-spacing: 0 7px;
}

.link {
	color: red;
	text-align: left;
	text-decoration: none;
}

.CocktailNameEng {
	display: inline-block;
}

.tableHeaderItem {
    font-size: 11px;
}

.selected {
	background-color: red;
}

.tableHeaderItem,
.tableItem {
    padding: 6px 9px;
    font-weight: 400;
}

.tableItem {
    font-size: 14px;
}

.tableItem-name {
	text-align: left;
}

.tableItem-name-Eng {
	background-color: LightGrey;
}

.tableItem-name-Rus {
	display: none;
}

.tableItem-empty {
	background-color: Gainsboro;
}

.tableItem-AD {
	background-color: DarkOrange;
}

.tableItem-PD {
	background-color: HotPink;
}

.tableItem-PC {
	background-color: Crimson;
}

.tableItem-LD {
	background-color: Turquoise;
}

.tableItem-SC {
	background-color: Chartreuse;
}

.tableItem-UN {
	background-color: RoyalBlue;
}

.tableItem-NE {
	background-color: LimeGreen;
}

.tableItem-CC {
	background-color: DarkOrchid;
}
